body {
  background-color: white;
  color: black;
  transition: 0.3s;
}

.dark {
  background-color: #121212;
  color: white;
}
button {
  display: block;
  margin: 100px 60px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  float: right;
  
}

